.gradle/
build/
**/build/
.kotlin/
.idea/
*.iml
.DS_Store

local.properties
captures/
.externalNativeBuild/
.cxx/

androidApp/google-services.json
androidApp/**/google-services.json
shared/**/google-services.json
androidMain/google-services.json

Pods/
iosApp/Pods/
iosApp/Podfile.lock
DerivedData/
xcuserdata/

*.xcworkspace/xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata

node_modules/
